<!DOCTYPE html>
<html>
<head>
    <title>About</title>

</head>
<body>
<header>
    <a href="/" class="nav_link">Home</a>
    <form id="form" method="post" action="/questions/search">
        <input name="searchString" placeholder="Search...">
        <button>Search</button>
    </form>
</header>
<h1>About us</h1>
<p>Luca Rodiga 1620972, Implemented the express app</p>
<p>Christopher Fartek 01431665, Implemented the word2vec functionalities</p>
<p>risbom</p>

</body>
</html>
