<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>About us</h1>
<p>Luca Rodiga 1620972</p>
<p>Christian Fartek</p>
<p>risbom</p>
<a href="/" class="nav_link">Home</a>
</body>
</html>
