<!DOCTYPE html>
<html>
  <head>
    <title>Stackunderflow</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header>
    <a href="/users/login" class="nav_link">Login</a>
    <a href="/users/register" class="nav_link">Register</a>
    <a href="/questions/new" class="nav_link">New question</a>
    <div class="currentuser"><%= currentuser%></div>
  </header>
    <h1>Stackunderflow</h1>
   <%if(typeof message != 'undefined'){ %>
  <%- message %><%}%>




  <footer>
    <a href="/about" class="nav_link">About</a>

  </footer>
  </body>
</html>
